
nav{
    display:flex;
    background-color:#F7EEDD;
    padding-right: 15px; 
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
    
}

.logo a{
   color: #FA7070;
   font-size: 35px; 
   font-weight: 600;
   text-align: left;  
   text-decoration: none;
    
}

.nav-links{
    flex: 1;
    text-align: right;
    color: #FA7070;
 
}

.nav-links ul li{
   
    list-style: none;
    display: inline-block;
   padding-right: 15px; padding-left: 15px;
    position: relative;
    
}

.nav-links ul li a{
    
    background-color:#F7EEDD;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold; 
    margin-right: 25px;
    color: #FA7070;
}

button {
    
    background-color:bisque;
    margin-left: 10px;
    border-radius: 10px; 
    padding: 10px; 
    width: 90px; 
    border-color: #906f51;
}

button a{
    
    color: #FA7070; 
    font-weight: bold; 
    font-size:15px; 
    text-decoration: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7eedd;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content a {
    color: #fa7070;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #5e4840;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
    
}


/*report*/
 h1 {
    margin: 0 0 20px;
    font-weight: 600;
    color: #FA7070;
    
    }

.report {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    }

 .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: ;
    }


form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #FFFFFF; 
    background: #fbf6ed; 
    }
    .fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #fff;
    }
    .fa-envelope {
    transform: rotate(-20deg);
    }
    .fa-at , .fa-mail-bulk{
    transform: rotate(10deg);
    }
    input, textarea , select{
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #272323;
    outline: none;
    }
    input::placeholder {
    color: #666;
    }
    
    /* Style for the dropdown options */
    .styled-dropdown option {
      padding: 10px;
      background-color: #fff;
    }
    #BuStyle{
        width: 100%;
    padding: 10px;
    border: none;
    background: #FA7070; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    }
    #BuStyle:hover {
  background-color: #222020; /* New background color on hover */
    }
    @media (min-width: 568px) {
    .main-block {
    flex-direction: row;
    }
    .left-part, form {
    width: 50%;
    }
    .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
    }
    .fa-at {
    margin-top: -10%;
    margin-left: 65%;
    }
    .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
    }
    }


/*footer*/
.footer{
    color:#FA7070; 
    background:#F7EEDD; 
    text-align: center; 
    margin-bottom:0px; 
    margin-top: auto;
}

